<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="col-xl-6 col-md-12">
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
              <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                  <div class="m-b-25">
                    <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="${user.imageUrl}">
                  </div>
                  <h6 class="f-w-600" th:text="${user.username}"></h6>
                  <form th:if="${sameUser}" action="'/v1.0/users/'${user.id}/edit" method="get">
                    <button type="submit" class="btn btn-danger ml-3" name="dislike">
                      <i class="fas fa-thumbs-down"></i> Dislike
                    </button>
                  </form>
                  <i class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card-block">
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Email</p>
                      <h6 class="text-muted f-w-400" th:text="${user.email}"></h6>
                    </div>
                  </div>
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Quotes</h6>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Recent</p>
                      <h6 th:if="${lastQuoteId}" class="text-muted f-w-400">
                        <a href="'/v1.0/quotes/'${lastQuoteId}">Last added quote</a>
                      </h6>
                      <h6 th:unless="${lastQuoteId}" class="text-muted f-w-400">
                        There are no quotes yet
                      </h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Most Liked</p>
                      <h6 th:if="${topQuoteId}" class="text-muted f-w-400">
                        <a href="'/v1.0/quotes/'${topQuoteId}" >Top quote</a>
                      </h6>
                      <h6 th:unless="${topQuoteId}" class="text-muted f-w-400">
                        There are no quotes yet
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>